{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-8">
        <p>
            <h1 class="display-6">{{ thread[0][1] }}</h1>
            {% if session.user_id==thread[0][4] %}
            <br>
            <div class="d-flex justify-content-end">
                <a href="/edit_headline/{{ thread[0][0] }}/ {{ thread[0][1] }}" class="btn btn-primary text-uppercase rounded-pill border-0 shadow-sm">Muokkaa otsikkoa</a>
            </div>
            <br>
            {% endif %}
            <br>
            {% include "message.html" %}
            <small class="opacity-75 text-end">{{ thread[0][3].strftime("%d.%m.%Y | %H:%M") }}</small>
            <div class="d-flex justify-content-end">
                <a class="icon-link link-dark" href="/up_vote_message/{{ thread[0][0] }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"></path>
                    </svg>
                </a>
                <small class="opacity-75 text-end mx-2">{{ thread[0][-2] }}</small>
                <a class="icon-link link-dark" href="/down_vote_message/{{ thread[0][0] }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"></path>
                    </svg>
                </a>
                <small class="opacity-75 text-end mx-2">{{ thread[0][-1] }}</small>
            </div>
            <br><br>
            {{ thread[0][2] }}
            <br><br><br>
            {% if session.user_id %}
            <a href="/new_comment/{{ thread[0][0] }}" class="btn btn-primary text-uppercase rounded-pill border-0 shadow-sm">Kommentoi</a>
            {% endif %}
            {% if session.user_id==thread[0][4] %}
            <a href="/edit_message/{{ thread[0][0] }}/ {{ thread[0][2] }}" class="btn btn-primary text-uppercase rounded-pill border-0 shadow-sm">Muokkaa</a>
            {% endif %}
            {% if session.user_id==thread[0][4] or user_is_admin %}
            <a href="/remove_message/{{ thread[0][0] }}" class="btn btn-primary text-uppercase rounded-pill border-0 shadow-sm">Poista</a>
            {% endif %}
            <br><br>
            <hr class="hr" />

        {% if comments %}
            {% for comment in comments %}
            <small class="opacity-75 text-end">{{ comment.sent_at.strftime("%d.%m.%Y | %H:%M") }}</small>

            <div class="d-flex justify-content-end">
                <a class="icon-link link-dark" href="/up_vote_comment/{{ comment.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"></path>
                    </svg>
                </a>
                <small class="opacity-75 text-end mx-2">{{ comment.up_votes }}</small>
                <a class="icon-link link-dark" href="/down_vote_comment/{{ comment.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"></path>
                    </svg>
                </a>
                <small class="opacity-75 text-end mx-2">{{ comment.down_votes }}</small>
            </div>
            <br>
            {{ comment.content }}
            <br><br><br>
            {% if session.user_id==comment.user_id %}
            <a href="/edit_comment/{{ thread[0][0] }}/{{ comment.id }}/{{ comment.content }}" class="btn btn-primary text-uppercase rounded-pill border-0 shadow-sm">Muokkaa</a>
            {% endif %}
            {% if session.user_id==comment.user_id or user_is_admin %}
            <a href="/remove_comment/{{ comment.id }}" class="btn btn-primary text-uppercase rounded-pill border-0 shadow-sm">Poista</a>
            {% endif %}
            <br><br>
            <hr class="hr" />
            {% endfor %}
        {% endif %}
        <br><br>
        </p>
    </div>
    </div>
</div>
{% endblock %}

