{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-8">
        <form action="/send_headline_edit" method="POST">
            <div class="mb-3">
                <label for="headline" class="form-label"></label>
                <input type="text" class="form-control" name="headline" value="{{ headline }}" required="">
            </div>
                <button type="submit" class="btn btn-primary text-uppercase rounded-pill mb-2 mt-2 border-0 shadow-sm">Muokkaa</button>
                <input type="hidden" name="message_id" value="{{ message_id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}