{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-8">
        <p>
            Etsitkö uusia reittisuosituksia, haluatko jakaa omia kiipeilyseikkailujasi tai kaipaatko neuvoja varusteiden valintaan? 
            Täällä voit yhdistää voimasi muiden kiipeilyhullujen kanssa, oppia uutta ja saada inspiraatiota muilta, jotka jakavat kanssasi rakkauden vuoristoihin ja kallioihin.
            <br><br>
            Olit sitten aloittelija tai kokenut konkari, liity mukaan keskusteluun, ja tuetaan toinen toisiamme matkallamme kohti uusia huippuja!
        </p>
        {% if session.user_id %}
        <br><br>
        <div class="card w-75 mb-3">
            <div class="card-body">
                <h5 class="card-title">Osallistu keskusteluun</h5>
                <a href="/new" class="link-dark">Lähetä uusi viesti</a> {% if user_is_admin %} | <a href="/topic" class="link-dark">Avaa uusi keskustelualue</a> {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-4">
        {% if session.user_id %}
        <div class="card mb-4 border-0" style="width: 18rem;">
            <div class="card-body"> 
                <p class="card-text">Olet kirjautunut sisään.</p>
                <a href="/logout" class="btn btn-primary text-uppercase rounded-pill border-0 shadow-sm">Kirjaudu ulos</a>
            </div>
            </div>
        <br>
        
        {% else %}
        <h5>Osallistu keskusteluun</h5>
        <a href="/login" class="btn btn-primary text-uppercase rounded-pill border-0 shadow-sm">Kirjaudu sisään</a>
        {% endif %}
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col-10">
        {% if topics %}
            <br><br>
            <h1 class="display-6">Keskustelut</h1>
            <br>
            <div class="btn-group">
                <button class="btn btn-primary text-uppercase rounded-pill border-0 shadow-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Valitse aihealue
                </button>
                <ul class="dropdown-menu">
                    {% for topic in topics %}
                    <li><a class="dropdown-item" href="filter_by_topic/{{ topic.name }}">{{ topic.name }}</a></li>
                    <input type="hidden" name="filter_by_topic" value="{{ topic.name }}">
                    {% endfor %}
                </ul>
            </div>
            <br>
            <br><br>
            {% for message in messages %}
            <div class="p-1 gap-4">
            <div class="list-group">
                <a href="/chat/{{ message.id }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="https://www.pngfind.com/pngs/m/77-775446_png-file-svg-chat-bubble-icon-png-transparent.png" alt="chat bubble" width="32" height="32" class="rounded-circle flex-shrink-1">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">{{ message.name }}</h6>
                        <p class="mb-0 opacity-75">{{ message.headline }}</p>
                    </div>
                    <small class="opacity-50 text-nowrap">Aloitettu {{message.sent_at.strftime("%a %H:%M")}} 
                        {% for comment in comments %}{% if comment.message_id == message.id %} | Vastauksia {{ comment.count }} {% endif %} {% endfor %} 
                        {% for time in times %}{% if time.message_id == message.id %} | Viimeisin {{ time.sent_at.strftime("%a %H:%M") }} {% endif %} {% endfor %}</small>
                </div>
                </a>
            </div>
            </div>
            {% endfor %}
        {% else %}
        <br><br>
        <h4>Hups! Ei vielä aloitettuja keskusteluita. Odotathan, että ylläpitäjät avaavat ensimmäisen keskustelualueen.</h4>
        {% endif %}
    </div>
    </div>
</div>
<br><br><br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}



