{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-10">
            <br><br>
            <h1 class="display-6">Hakutulokset</h1>
            <br>
            <a href="/" class="btn btn-primary text-uppercase rounded-pill border-0 shadow-sm">Palaa etusivulle</a>
            <br><br>
            {% if messages %}
            {% for message in messages %}
            <div class="p-1 gap-4">
            <div class="list-group">
                <a href="/chat/{{ message.id }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="https://www.pngfind.com/pngs/m/77-775446_png-file-svg-chat-bubble-icon-png-transparent.png" alt="chat bubble" width="32" height="32" class="rounded-circle flex-shrink-1">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">{{ message.name }}</h6>
                        <p class="mb-0 opacity-75">{{ message.headline }}</p>
                    </div>
                    <small class="opacity-50 text-nowrap">Viimeisin viesti {{ message.sent_at.strftime("%d.%m.%Y | %H:%M") }}</small>
                </div>
                </a>
            </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="lead">
                Ei hakutuloksia.
            </p>
            {% endif %}
    </div>
    </div>
</div>
<br><br><br>
{% endblock %}
